.title{
    font-size: var(--app-font-size-title);
    font-weight: var(--app-font-weight-bold);
}

.sub-title{
    font-size: var(--app-font-size-sub-title);
    font-weight: var(--app-font-weight-bold);
}

.poiter{
    cursor: pointer;
}

.avatar{
    border-radius: 50%;
}

.avatar-24{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.avatar-32{
    width: 32px;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 50%;
}

.bold{
    font-weight: var(--app-font-weight-bold);
}

.primary-border-radius{
    border-radius: var(--app-border-radius);
}