.dx-tooltip-wrapper .dx-overlay-content,
.dx-tooltip-wrapper.dx-popover-wrapper .dx-popover-arrow::after{
    background-color: #2a2e41 !important;
    border: #2a2e41;
}

div.dx-popup-content{
    color: #fff;
    font-size: 14px !important;
}